header{
    height: 100px;
    background-color: #06131f;
}

.ms-box-logo{
    height: 90px !important;
    width: 90px !important;
}

main{
    background-color: #1d2d3c;
}

.card{
    background-color: #112030 !important;
    border-radius: 10px !important;
}